/* common styles*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
:root {
    --primary-color: #FF900E;
    --secondary-color: ##FFF4E7;
    --text-light: #727272;
  }
  .text-light{
    color: var(--text-light);
  }
  .text-primary{
    color: var(--primary-color);
  }
  img{
    width: 100%;
  }
  body{
    background-color: #fff;
    font-family: 'Work Sans', sans-serif;
  }

  /*small button style*/
  .explore-more-button{
    color: #fff;
    background-color: var(--primary-color);
    height: 44px;
    width: 150px;
    border-radius: 8px;
    border: none;
  }

/* header styles*/
.header{
    background-image: linear-gradient(to bottom, rgba(255, 144, 14, 0.1), rgba(255, 144, 14, 0.08));
    padding: 10px 240px 0px 240px;
}
.navigation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navigation ul{
    display: flex;
    justify-content: space-between;
}
.navigation ul li{
    list-style: none;
}
.banner{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.banner-content{
    max-width: 862px;
    padding: 10px 100px 10px 100px;
}
.banner-image img{
    /* width: 100%; */
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* line style*/
.hr{
    border:none;
    height: 20px;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 10px 10px -10px #333;
    margin: -10px auto 5px; 
}

/* main content style will apply for all section under main*/
.main{
    padding: 10px 240px 0px 240px; 
}

.main section{
    margin-top: 40px;
    margin-bottom: 20px;
}
/* feature sections styles*/
.feature{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.image-div{
  padding: 5px;
} 
.image-div img{
    border-radius: 8px;
    /* width: 100%;     */
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    gap: 10px;
    margin-left: 20px;
}
.feature-content-header{
    font-weight: 800; 
    font-size: larger;
}

/* section loving features and its items styles*/
.loving-features{
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    
}
.loving-features-header{
    padding-right: 10px;
}
.loving-features-header h1{
    border-left: 3px solid var(--primary-color);
    padding-left: 8px;
}
.loving-features-items{
    padding-left: 15px;
    padding-right: 10px;
}
.loving-feature-item{
    background-image: linear-gradient(to bottom, rgba(124, 115, 104, 0.102), #eeeae51a);
}
.loving-feature-item p{
    display: -webkit-box;
    max-width: 350px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.loving-feature-item p:hover{
    overflow: visible;
    white-space: normal;
    -webkit-line-clamp: 6;
}
.loving-feature-image-div{
    position: relative;
}
.experience-div{
    background-color: var(--primary-color);
    font-weight: 900;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px;
    border-radius: 5px;
}

/*fact section style*/
.some-facts-content{
    padding-bottom: 30px;
}
.some-facts-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 5px;
    padding-top: 10px;
}
.fact-item {
    width: 125px;
    height: 100px;
    display: grid;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    padding: 20px 10px;
}
.fact-item:hover{
    border-radius: 50%;
    width: 150px;
    transition: width 2s;
    background-color: rgba(255, 144, 14, 0.2);
    transition-timing-function: ease-in;
}
.fact-image{
    max-width: 15px;
}
.fact-number{
    font-weight: 900;
}

/* our sponsor section style*/
.our-sponsor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
}
.our-sponsor-content{
    max-width: 500px;
}
.our-sponsor-items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;  
    gap: 10px; 
}
.sponsor-item{
    padding-left: 20px;
    padding-right: 20px;
}


/* form related styles*/
.contact-us{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}
.contact-us-form{
    display: grid;
    grid-template-columns: repeat(1, 1fr, );
    background-color: #f9f4f4;
    padding: 20px;
    width: 70%;
}
.contact-us-form label{
    padding: 5px 0px;
}
input[type=text], [type=tel], [type=email], [type=textarea]{
    padding: 10px 0px 10px 5px;
}
input[type=text], [type=tel], [type=email], [type=textarea], select{
    border: 1px solid #ccc;
    padding: 10px 0px 10px 5px;
}
.contact-us-form button{
    margin-top: 20px;
}
.contact-us-form button:hover{
    background-color: #e39a46;
    border: 2px solid #624a2f;
}

/* footer styles*/
.footer{
    text-align: center;
    /* padding: 10px 240px 0px 240px; */
    margin: 100px 240px 200px 240px;
}
.footer-content{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 10px;
}

/* responsive media query*/
@media only screen and (max-width: 767px) {
    .header, .main, .banner-content {
        padding: 10px;
    }
    .navigation, .feature, .feature-images, .loving-features{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    /*make the explore button full width*/
    .explore-more-button{
        width: 100%;
      }

    /*remove margin from feature section>> content*/
    .feature{
        display: flex;
        flex-direction: column-reverse;
    }
    .feature-content{
        margin-left: 0px;
    }

    /* fact section*/
    .some-facts-items{
        grid-template-columns: repeat(2, 1fr);
    }

    /*sponsor section responsive style*/
    .our-sponsor-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .sponsor-item{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .contact-us-form{
        padding: 10px;
        width: 100%;
    }
    .footer{
        margin: 10px;
    }

  }
